<!DOCTYPE html>

<html>

<head>

	<meta charset="ISO-8859-1" <title>Index</title>
</head>



<body>

	<h1>Print Drawings Form</h1>
<form action = "register" method="post">
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />
	
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />
	
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />
	
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />
	
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />
	
	<label for="id">Id :</label><br />
	<input type="text" name="fname" /><br />


<button type="submit"> Submit</button>
</form>



</body>

</html>