<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">¥
        <title>PrintDrawingDto List Output</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>drawingName</th>
                    <th>diameter</th>
                    <th>facelength</th>
                    <th>customer</th>
                </tr>
            </thead>

			<tbody>
			              <tr th:each="printDrawingDto : ${printDrawingDtoList}">
			                  <td th:text="${printDrawingDtoList.drawingName}"></td>
			                  <td th:text="${printDrawingDtoList.diameter}"></td>
			                  <td th:text="${printDrawingDtoList.facelength}"></td>
			              </tr>
			          </tbody>
			      </table>

			      <div th:if="${printDrawingResponse.totalPages > 1}">
			          <a th:href="@{/api/pagination/filterThym (page=${printDrawingResponse.pageNo - 1})}" th:unless="${printDrawingResponse.pageNo == 1}">Previous</a>
			          <span th:each="i : ${#numbers.sequence(1, printDrawingResponse.totalPages)}">
			              <a th:href="@{/api/pagination/filterThym (page=${i})}" th:class="${i == printDrawingResponse.pageNo} ? 'active' : ''" th:text="${i}"></a>
			          </span>
			          <a th:href="@{/api/pagination/filterThym (page=${printDrawingResponse.pageNo + 1})}" th:unless="${printDrawingResponse.last}">Next</a>
			      </div>
</html>