body {
	display: block;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	font-size: large;
	font-style: bold;
	color: green;
}

/* General form styling */
form {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: green;
	border: 0px solid #b92121;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	display: block;
	background-color: #f5f5f5;
}

select {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 15px;
	border: 5px solid #cf1212;
	border-radius: 3px;
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
	text-align: left;
	width: 90%;
	height: auto;
	padding: 10px;
	margin-bottom: 15px;
	border: 5px solid #ccc;
	border-radius: 3px;
	text-align: left;
}

/* Input fields */

input[type="date"] {
	text-align: center;
	width: 90%;
	height: auto;
	padding: 10px;
	margin-bottom: 15px;
	border: 5px solid #ccc;
	border-radius: 3px;
}

/* Button styling */
button {
	background-color: green;
	color: #fff;
	padding: 30px 20px;
	border: none;
	cursor: pointer;
	width: 90%;
	width: 250px;
	height: auto;
	padding: auto;
	margin: auto;

	border-radius: 10px;
}

/* Hover effect for button */
button:hover {
	background-color: #0069d9;
}
